// COLORS
$green-color: "#459f0b";
$black-color: "#000";
$white-color: "#fff";
$grey-dark1-color: "#666666";
$grey-dark2-color: "#4c4c4c";
$grey-light-color: "#b4b4b4";

$text-primary-color: "#383838";
$text-secondary-color: "#7f7f7f";

$bg-primary: "#eff0f0";
$bg-primary-dark: "#d9dcdd";